/* Light Mode */
:root {
  /* colors	*/
  /* main */
  --color-primary: #ddd;

  /* hover */
  --color-primary-light: #eee;

  /* focus */
  --color-primary-dark: #bbb;

  /* main */
  --color-secondary: #f1f1f1;

  /* hover */
  --color-secondary-light: #fff;

  /* focus */
  --color-secondary-dark: #bbb;

  /* colors */
}